{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
<div class="container mt-5" style="margin-bottom:100px;">
    <h3>OrderForm</h3>

    <form method="POST">
    {% csrf_token %}
<div class="mb-2">
  <label  class="form-label">Address</label>
  <input type="text" class="form-control"  name="a" placeholder="Enter Address ">
</div>

        <div class="mb-3">
  <label  class="form-label">Phn NO</label>
  <input type="number" class="form-control" name="p" placeholder="Enter the phn No.">
</div>

<div class="mb-3">
  <label  class="form-label">Acc NO</label>
  <input type="number" class="form-control" name="n" placeholder="Enter account No.">
</div>

  <input type="submit" class="form-control">


    </form></div>



    </center>


{% endblock %}
