{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h3>You have searched for {{query}}</h3>
</div>

<div class="container-fluid mt-3" style="margin-bottom:100px">
<h3 class="text-center fw-bold">{{c.name}}</h3>
<p style="text-align:justify;line-height:2;">{{c.desc}}</p>
</div>

<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row">
        {% if p %}
        {% for i in p %}
    <div class="col-sm-4 mb-5">
        <div class="card" style="width:30rem;" >
            <img src="{{i.image.url}}" width="80%" height="200px"  class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title text-center fw-bold">{{i.name}}</h5>
                <h5 class="card-title text-center fw-bold">{{i.price}}</h5>
            <p class="card-text"> </p>
            <a href="{% url 'shop:detail' i.name %}" class="btn btn-primary">Details</a>

  </div>
</div>
    </div>
    {% endfor %}
     {% else %}
        <h5 class="text-center">Result not found</h5>
     {% endif %}
        </div>
    </div>
{% endblock %}

